// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

@font-face {
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 100;
    src: local('Museo Sans'),
         url('../fonts/MuseoSansRounded-100.otf') format("opentype");
}
@font-face {
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Museo Sans'),
         url('../fonts/MuseoSansRounded-300.otf') format("opentype");
}
@font-face {
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Museo Sans'),
         url('../fonts/MuseoSansRounded-700.otf') format("opentype");
}

body{
    background: $white;
    font-family: 'Museo Sans', sans-serif;
    font-weight: 300;
    color: $grey;
}
.home{
    h1{
        font-size: 38px;
        font-weight: 100;
        text-align: center;
        color: $primary;
        
    }
    .heading{
        padding: 80px 0;
    }
    input{
        border: none;
    }
}
p{
    background: $white;
}
h2 a{
    color: $red;
}
.icon-bar{
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
    margin-bottom: 7px;
    margin-top: 5px;
}

/*************************

        HEADER

*************************/
#main-menu{
    align-items: center;
    .ios-btn{
        text-transform: uppercase;
        background: $primary;
        border-radius: 3px;
        padding: 15px 30px;
        margin-left: 20px;
        a{
            color: $white;
            position: relative;
            padding-left: 25px;
            padding-right: 0;
        }
        a:before{
            content: url(../img/icons/ic-apple.svg);
            left: 0;
            position: absolute;
        }
    }
    .unicorn-btn{
        background: #b3b3b3;
        border-radius: 3px;
        padding: 15px 30px;
        margin-left: 20px;
        a{
            color: $white;
            position: relative;
            padding-left: 25px;
            padding-right: 0;
        }
        a:before{
            content: url(../img/icons/ic-unicorn.svg);
            left: 0;
            position: absolute;
        }
    }
}

/*************************

        HOMEPAGE

*************************/
.main-loop.article{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px 0;
}

.date{
    color: #a9a9a9;
    font-size: 14px;
    padding: 15px 0;
}
.title-link{
    color: $grey;
    transition: all 0.2s ease;
    text-decoration: none;
}
.title-link:hover,
.title-link:active{
    color: $primary;
    text-decoration: none;
}
.intro{
    margin-bottom: auto;
}
.moretag{
    text-decoration: none;
}
.tags{
    padding: 15px 0;
    ul{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li{
            display: inline-block;
        }
        a{
            display: inline-block;
            font-size: 12px;
            background: #f0f0f0;
            color: #999999;
            padding: 5px 10px;
            border-radius: 3px;
            margin-right: 5px;
            transition: all 0.2s ease;
            text-decoration: none;
        }
        a:hover,a:active{
            background: #f2c0de;
            color: $primary;
        }
        
    }
}
.comments{
    margin-top: auto;
    padding-top: 20px;
    .fav,.com{
        position: relative;
        padding-left: 25px;  
        padding-right: 30px;
    }
    .fav:before{
        content: url(../img/icons/ic-heart.svg);
        left: 0;
        position: absolute;
    }
    .com:before{
        content: url(../img/icons/ic-comment.svg);
        left: 0;
        position: absolute;
    }
}


/*************************

        WIDGET

*************************/
#wrapper-footer-full{
    background: $white;
}
.footer-widget h3{
    color: #858585;
    font-size: 48px;
    text-align: center;
    padding-bottom: 50px;
    font-weight: 100;
}
.subscription{
    text-align: center;
    padding-bottom: 50px;
    input{
        max-width: 460px;
        width: 100%;
        border: 1px solid #d8d8d8;
        border-radius: 3px;
        padding: 15px;
        margin-bottom: 15px;
    }
    button{
        text-transform: uppercase;
        color: $white;
        background: $primary;
        border-radius: 3px;
        padding: 15px 40px;
        margin-left: 15px;
    }
}
.btn, .load-more{
    color: $white!important;
    background: $primary;
    border-radius: 3px;
    padding: 15px 40px;
    margin-left: 15px;

    &:hover,
    &:focus{
        color: $white;
        background: $primary;
    }
    &.loading{
        cursor: default;
    }
}


/*************************

        FOOTER

*************************/
footer.site-footer{
    background: #f4f4f4;
    padding: 70px 0 70px;
    border-top: 1px solid #d8d8d8;
}
.copyright {
    img{
        margin-bottom: 20px;
    }
}
.social{
    ul{
        list-style: none;
    }
    ul li{
        position: relative;
        padding-right: 30px;
        padding-bottom: 15px;
    }
    .fb::after{
        content: url(../img/icons/ic-facebook.svg);
        position: absolute;
        right: 0;
        top: 2px;
    }
    .tw::after{
        content: url(../img/icons/ic-twitter.svg);
        position: absolute;
        right: 0;
        top: 2px;
    }
    .in::after{
        content: url(../img/icons/ic-instagram.svg);
        position: absolute;
        right: 0;
        top: 2px;
    }
    a{
        color: $primary;
    }
}

/*************************

        SINGLE

*************************/
.header-bg{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    text-align: center;
    background-position: center top;
    color: $white;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    h1{
        position: relative;
        z-index: 10;
        font-size: 44px;
    }
    .author{
        position: relative;
        text-align: center;
        color: $white;
        z-index: 10;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    .author::before{
        content: url(../img/icons/ic-writer.svg);
        left: 0;
        margin-right: 15px;
    }
    .heading-content{
        padding-bottom: 20px;
        max-width: 620px;
        margin: 0 auto;
    }
    .btb{
        position: absolute;
        bottom: 10px;
        z-index: 10;
        left:0;
        right: 0;
        a{
            color: $white;
        }
    }
}
.header-bg:after{
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.3);
    position: absolute;
}
.intro-text {
    max-width: 535px;
    margin: 0 auto;
    font-size: 18px;
    font-style: italic;
}
.intro-text::first-letter{
    font-size: 24px;
}
 .single .site-main{
//     max-width: 550px;
//     margin: 0 auto;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
 }
.single-container > p,
.single-container > div,
.single-container > h2{
    //padding: 0 300px;
    max-width: 535px;
    margin-left: auto;
    margin-right: auto;
}
.single-container .img {
    max-width: 100%;
    color: #858585;
    text-align: center;
}
.more-posts{
    h2{
        font-size: 28px;
        color: $grey;
    }
    .more-title{
        color: $primary;
        font-size: 28px;
        margin: 60px 0;
    }
    .col-md-6.nav-box.next {
        margin-bottom: 30px;
    }
}
.quote_block.right {
    padding-right: 200px;
    position: relative;
}
.quote_block.right .quote {
    float: right;
    font-size: 28px;
    position: absolute;
    right: -25%;
    max-width: 320px;
    top: 15px;
    text-align: center;
    color: $primary;
    line-height: normal;
    font-weight: 100;
}
.quote_block.left {
    padding-left: 200px;
    position: relative;
}
.quote_block.left .quote {
    float: left;
    font-size: 28px;
    position: absolute;
    left: -25%;
    max-width: 320px;
    top: 15px;
    text-align: center;
    color: $primary;
    line-height: normal;
    font-weight: 100;

    // float: left;
    // font-size: 28px;
    // position: inherit;
    // max-width: 340px;
    // top: 15px;
    // left: -170px;
    // text-align: center;
    // color: #dc4ba3;
    // line-height: normal;
    // font-weight: 100;
    // padding: 10px;
}

/****** CUSTOM SINGLE ******/
.custom-single .header-bg{
    background-repeat: repeat;
    background-size: 100px;
    min-height: 500px;
    text-align: center;
    background-position: center top;
    color: #fff;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
    background-position: 0px;
    height: 100vh;
    background-attachment: fixed;
}
.custom-single .heading-content{
    position: relative;
    z-index: 10;
}
.custom-single .header-bg:after{
    background: rgba(0,0,0,.6);
}
.custom-single .header-bg .heading-content {
    padding-bottom: 20px;
    max-width: 100%; 
    margin: 0 auto;
}
.custom-single .img-wrapper {
    // max-width:720px;
    // max-height:580px;
    // min-width: 320px;
    // min-height: 290px;
    position:relative;
    overflow: hidden;
    max-width: 720px;
    left: -220px;
}
  
.custom-single .cover,  .custom-single .img-anim {
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.custom-single .img-anim {
    position: initial;
}
  
.custom-single .cover {
    width:100%;
    height:100%;
    background:#f2c0de;
}
.custom-single .header-bg h1 {
    z-index: 10;
    font-size: 44px;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    width: 100%;
    color: $primary;
    background: $grey;
    padding: 20px;
}
.navbar-toggler{
    background: $primary;
}
@media (max-width:1280px){
    .custom-single .img-wrapper{
        left: 0;
        right: 0;
    }
    .custom-single .header-bg h1 {
        position: relative;
        left: 0;
        max-width: 720px;

    }
}
@media (max-width:800px){
    .custom-single .img-wrapper{
        left: 0;
        right: 0;
    }
    .quote_block.right {
        padding-right: 0px;
    }
    .quote_block.right .quote {
        float: right;
        font-size: 28px;
        position: relative;
        right: 0%;
        padding: 20px;
    }
    .quote_block.left {
        padding-left: 0px;
    }
    .quote_block.left .quote {
        float: left;
        position: relative;
        left: 0;
        padding: 20px;
    }
    #main-menu .unicorn-btn,
    #main-menu .ios-btn{
        margin: 5px 0;
    }
}
